<div class="contacto" fxLayout="row" fxLayout.lt-sm="column"  fxLayoutAlign="space-around center">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Anonymous</mat-card-title>
          <mat-card-subtitle>"Knowledge is Free"</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/img/escuela.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Nuestro sistema esta mayormente dirigido a todos aquellos que forman parte de una institución 
            académica, más específicamente a estudiantes, maestros y personal administrativo, que son 
            quienes pudieran hacer uso de este y aprovechar sus funcionalidades. En el caso de alumnos y 
            administrativos, para consultar semestre, materias y calificaciones, y en cuanto a los maestros 
            seria usado para la captura de calificaciones.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <mat-chip-list aria-label="Fish selection">
            <mat-chip color="accent" selected>Maestros</mat-chip>
            <mat-chip color="accent" selected>Alumnos</mat-chip>
            <mat-chip color="accent" selected>Personal Administrativo</mat-chip>
          </mat-chip-list>
        </mat-card-actions>
      </mat-card>

      <mat-card class="example-card2" >
          
        <img mat-card-image src="../../assets/img/alumna.jpg" alt="Photo of a Shiba Inu">
        <mat-card-title>Alexia Flores Flores</mat-card-title>
        <mat-card-content>
          <p>
            Gracias a Anonymous tengo todos mis resultados mas ordenados y
             puedo obtener mis calificaciones de una manera mas rapida.
          </p>
          <p><b>Alumna</b></p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button onclick="window.location.href='https://www.facebook.com/search/top?q=alexia%20flores'"><i class="fab fa-facebook-square fa-2x"></i></button>
          <button mat-button onclick="window.location.href='https://www.instagram.com/alexiafflores/?hl=es-la'"><i class="fab fa-instagram fa-2x"></i></button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="example-card2">
          
        <img mat-card-image src="../../assets/img/alumno.jpg" alt="Photo of a Shiba Inu">
        <br><br>
        <mat-card-title>Luis Enrique Wong</mat-card-title>
        <mat-card-content>
          <p>
            Con este sitio puedo dar los resultados de una manera mas rapida y es 
            mas facil poder aclarar dudas.
            
          </p>
          <p><b>Maestro</b></p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button onclick="window.location.href='https://www.facebook.com/Waldeen'"><i class="fab fa-facebook-square fa-2x"></i></button>
          <button mat-button onclick="window.location.href='https://www.instagram.com/lwong98/?hl=es-la'"><i class="fab fa-instagram fa-2x"></i></button>
        </mat-card-actions>
      </mat-card>

</div>

