
<div class="container margen">
    <div class="row">
      <div class="col"></div>
      <div class="col-6">
        <div class="card shadow">
            <div class="card-body">
            <div class="row">
                <div class="col-4 centrar">
                    <img width="150px" class="img-thumbnail" src="../../assets/img/usuario.png" alt="Thumbnail image">
                </div>
                <div class="col">
                    <p>Especialidad: </p>
                    <div class="centrar shadow p-3 bg-light rounded prom"><b>Semestre y grupo</b> <br> 6A </div>
                </div>
            </div>
            </div>
          </div>
      </div>
      <div class="col"></div>
    </div>
 </div>

<div class="container margen">
    <div class="row">
      <div class="col"></div>
      <div class="col-10">
        <table class="table table-hover">
            <thead class="thead-dark">
              <tr>
                <th>id</th>
                <th>Nombre</th>
                <th>Promedio</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
              </tr>
            </tbody>
          </table>
      </div>
      <div class="col"></div>
    </div>
 </div>   

 <br><br>