<div class="preguntas">
  
    <mat-accordion fxLayout="column" fxLayoutAlign="center" >
      <h1 fxLayout="column" fxLayoutAlign="center center">PREGUNTAS FRECUENTES</h1>
        <mat-expansion-panel >
          <mat-expansion-panel-header >
            ¿ Si, soy alumno puedo ver calificaciones de otros alumnos ?
          </mat-expansion-panel-header>
          
          <p>No, al contar con una cuenta de tipo alumno, solo se permitiran ver tus propios datos. </p>
      
        </mat-expansion-panel>
      
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            ¿ Si soy administrador puedo acceder a los datos de todos los alumnos ?
          </mat-expansion-panel-header>
      
          Si, al tener una cuenta de administrador tienes el permiso de acceder a dichos datos.
      
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            ¿ El sitio es seguro ?
          </mat-expansion-panel-header>
      
          Si, contamos con distintos metodos de seguridad para proteger tus datos.
      
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
             ¿ Como puedo tener una cuenta ?
          </mat-expansion-panel-header>
      
          Solo es posible si eres parte de la institucion, ya sea estudiante, maestro o del personal administrativo.
      
        </mat-expansion-panel>
      
      </mat-accordion>
      <br><br><br><br>
    </div>
    
