
<div class="home">
<mat-toolbar> 
  <div class="container">
    <div class="row">
      <div class="col"> <button class="btntool boton" mat-flat-button color="primary" (click)="irPerfil()" >Ir a mi Muro</button> </div>
      <div class="col-9"></div>
      <div class="col-2"> <img  src="../../assets/img/usuario.png" width="60px" alt=""> </div>
    </div>
  </div>
  
    
</mat-toolbar>

<div fxLayout="row"  fxLayoutAlign="space-around center">
<mat-card>
    <mat-card-title> A N O N Y M O U S </mat-card-title>
    <mat-card-content>
      <div fxLayout="row" class="letra" fxLayout.lt-sm="column"  fxLayoutAlign="space-around center">
      
        
        El principal objetivo de este sistema es llevar un mejor control de la 
      información de la comunidad universitaria, haciendo su obtención más factible y agradable que la usual. 
      Nuestra meta es utilizar la web como principal canal de información útil, actualizada 
      para toda la comunidad perteneciente a esta, y así impulsar la visión y misión de la institución.
        <img class="imgCard" src="../../assets/img/obj.jpg" width="350px" alt="">
      
    </div> 
    </mat-card-content>
  </mat-card>
</div>
</div>